<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/about">About <span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/help">Help<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/property-binding">Property Binding<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/event">Event Binding</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/two-way">two-way Binding</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/ng-for">ng-for</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/ng-switch">ng-switch</a>
        </li>
      
        <li class="nav-item active">
          <a class="nav-link" routerLink="/comment-details">Comment</a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Register<span class="sr-only">(current)</span></a>
          </li> -->
           
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
        <li class="nav-item active">
            <a class="nav-link" routerLink="/reactive-form">Reactive Form</a>
          </li>

          <li class="nav-item active">
              <a class="nav-link" routerLink="/parent">PARENT<span class="sr-only">(current)</span></a>
            </li>
      </ul>
      <form class="form-inline my-1 my-lg-0">
            
           <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        
    
            <a class="nav-link" routerLink="/login" style="color: white">login</a>
            <a class="nav-link" routerLink="/signup" style="color: white">signup</a>
          
          
             <a class="nav-link" routerLink="/register" style="color: white">Register</a>
        
        
      </form>
    </div>
  </nav>



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/form1">Form1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/form2">Form2 <span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/form3">Form3<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/form5">Form4<span class="sr-only">(current)</span></a>
        </li>
        
      </ul>
    </div>
  </nav>